<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Ready to kickstart your child’s learning?
        </h2>
        <p class="cs-text">
            I would love to hear from you! Whether you have a question, or want to discuss your next web design project, I am here to help. Reach out to me through the form, or connect with me directly via email. 
            <br> <br>Let me bring your vision to life!   </p>
        <a href="/contact" class="cs-button-solid">Get In Touch</a>
    </div>


</section>