<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Ready to Kickstart <br>Your Child’s Learning?
        </h2>
        <p class="cs-text">
            Take the first step towards achieving your child's academic goals. 
            <br> <br>Contact us to learn more about our tutoring services and schedule your free taster session.            
                <br> <br>Start your child's journey to success today!   </p>
        <a href="/contact" class="cs-button-solid">Get In Touch</a>
    </div>


</section>