---
title: 'About | Aaron Corbett'
description: 'Learn about Aaron Corbett, a talented actor, playwright, and poet from Worcester, and explore his journey, inspirations, and artistic achievements.'
preloadImg: '/assets/images/aaron-corbett-smiling-red-hoodie.webp'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About</h1>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/aaron-corbett-smiling-red-hoodie.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/aaron-corbett-smiling-red-hoodie.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/aaron-corbett-smiling-red-hoodie.webp" alt="aaron corbett smiling in a red hoodie.webp" loading="lazy" width="400" height="563">
                </picture>
                <p class="cs-text">Credit: Worcester Theatres</p>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Meet Aaron</h2>
                <p class="cs-text">
                    Aaron Corbett is a versatile artist from Birmingham, recognised for his work as an actor, playwright, spoken word artist, and facilitator. Currently residing in Worcester, the city where he earned his degree, Aaron has made a significant impact on a variety of local projects, including 'Light Night,' 'The Rising Festival,' and the 'Worcester Fringe Festival.' He has captivated audiences with performances in productions such as 'A Midsummer Night's Dream,' and has brought joy to families through the Worcester Pantomime with 'Cinderella' (2022) and 'Aladdin' (2024). </p>
                <p class="cs-text">
                    Aaron is also passionate about creating innovative contemporary works, collaborating with esteemed theatre companies like Stans Cafe and Vamos Theatre to refine his distinctive performance style.                 </p>
                <p class="cs-text">
                    Aaron's dedication to children's theatre has flourished in Worcester, with his adaptations of 'Little Red Riding Hood' (2023), 'The Three Little Pigs' (2024), and 'Hansel and Gretel' (2024), all receiving acclaim and selling out performances under the Worcester Rep Company.   </p>
               <p class="cs-text">
                    Aaron's foremost passion is facilitation, "as there is no greater joy than witnessing others achieve goals they never thought possible." With over two years of experience, he has led Drama and Poetry Workshops, currently serving as the lead tutor for Swan Youth Theatre in Worcester. He has also tailored workshops for schools throughout Birmingham and Worcester, fostering creativity and encouraging young artists in their pursuits. His Theatre in Education production, ‘You in?’ (2023), successfully toured over 20 schools and colleges in the Worcestershire area, inspiring young minds along the way. </p>

                <!-- <a href="/projects" class="cs-button-solid">Our Projects</a> -->
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}