---
title: 'Playwright | Aaron Corbett'
description: 'Explore the works of Aaron Corbett, a talented playwright from Worcester, blending powerful narratives with poetic depth. Discover his latest productions!'
preloadImg: '/assets/images/three-little-pigs-worcester-theatres.webp'
permalink: 'playwright/'
eleventyNavigation:
    parent: Portfolio
    key: Playwright
    order: 200
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/portfolio.css">
{% endblock %}

{% block body %}    

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Playwright</h1>

    </section>


    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->


    <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/three-little-pigs-worcester-theatres.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/three-little-pigs-worcester-theatres.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/three-little-pigs-worcester-theatres.webp" alt="wolf" loading="lazy" width="400" height="563">
                </picture>
                <p class="cs-text">Photo Credit: Worcester Theatres</p>

            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">The Three Little Pigs</h2>
                <p class="cs-text">
                    Adapted by Aaron Corbett                      
                    <p class="cs-text">
                    2024
                    <p class="cs-text">
                        After the success of Little Red Riding Hood, Aaron was brought back to write Worcester Theatres' Spring children’s show, The Three Little Pigs. This show was aimed at younger children with the hope of introducing them to the world of theatre. Produced by the Worcester Rep Company and directed by Owen Harper.<br> <br>

                        Patrick, Pinky and Penelope trot out of Mum’s house and into the big world. They set off with the hope of building their dream homes but a certain BIG BAD WOLF, has other ideas.<br> <br>

                        This production presented the challenge of writing for puppets and voicing three characters with two actors. This was a challenge that Aaron overcame and when merged with the set and costumes, a playful yet mesmerising production was created. 
            </div>
            </div>
        </div>
    </section>


    <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/little-red-riding-hood-aaron-corbett-wolf.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/little-red-riding-hood-aaron-corbett-wolf.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/little-red-riding-hood-aaron-corbett-wolf.webp" alt="little red riding hood wolf" loading="lazy" width="400" height="563">
                </picture>
                <p class="cs-text">Photo Credit: Worcester Theatres</p>

            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Little Red Riding Hood</h2>
                <p class="cs-text">
                    Adapted by Aaron Corbett                    
                    <p class="cs-text">
                    2023
                    <p class="cs-text">
                    Little Red Riding Hood was a family show specifically designed for younger children. It aimed to be the children’s first live performance, which included music and audience participation in a relaxed environment.<br> <br>

                    Little Red Riding Hood was produced by the Worcester Rep Company, directed by Owen Harper, written by Aaron Corbett, with music composed by Scott Dugdale. In this adaptation of the classic children’s fairytale, two friends and storytellers narrate the story. Bringing to life characters such as ‘Red’, ‘Granny’, ’Big Bad Wolf’ and many more. This entire play was performed by two actors. One being Aaron himself and the other Holly Alanna Williams. 
            </div>
            </div>
        </div>
    </section>



    <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/you-in.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/you-in.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/you-in.webp" alt="you in? play" loading="lazy" width="400" height="563">
                </picture>
                <p class="cs-text">Photo Credit: Worcester Theatres</p>

            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">You In?</h2>
                <p class="cs-text">
                    Written by Aaron Corbett                  
                    <p class="cs-text">
                    School: over 20 schools and colleges
                    <p class="cs-text">
                    2023
                    <p class="cs-text">

                    “You in?” is a brand-new theatre in education performance that deals with the growing concern of child manipulation and grooming. The story follows two students, Alina and Dougie, who both come into contact with local troublemaker Nicky. Alina is a young girl whose social media has brought her the wrong attention. Whilst Dougie is a bright, intelligent boy who falls for the allure of gang culture.<br> <br> 

                    This piece explores online safety, gang culture the hurt that comes from feeling invisible and the consequences of putting trust in the wrong people. This performance aims to educate young people on what they can do if they feel like they are being taken advantage of and things that can prevent them from being targeted initially.
            </div>
            </div>
        </div>
    </section>


        <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/say-less.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/say-less.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/say-less.webp" alt="say less" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Say Less</h2>
                <p class="cs-text">
                    Written by Aaron Corbett                   
                    <p class="cs-text">
                    2021
                    <p class="cs-text">
                    “What I say is down to me. What you hear is up to you”<br> <br> 
                    As the world takes strides to becoming ‘woke’ and ‘racial equality’ is trending on everyones timeline, join Shaq an aspiring poet who embarks on a journey he definitely didn’t pack for. 
                    <br> <br>Say Less is a brand-new comedy, combining Hip-Hop and Spoken Word. Highlighting Black British culture, derailing the idea of tokenism and applying pressure to the phrase ‘The Queen's English’.<br> <br> 
                    A clever, compelling and first-class one man show, exploring identity through language. 
            </div>
            </div>
        </div>
    </section>

        {% include 'components/cta.html' %}

{% endblock %}