---
title: 'Poetry | Aaron Corbett'
description: 'Explore the evocative poetry of Aaron Corbett, a Worcester-based actor and playwright. Discover the depth of his words and artistic vision.'
preloadImg: '/assets/images/aaron-corbett-graffiti-black-hoodie.webp'
permalink: 'poetry/'
eleventyNavigation:
    parent: Portfolio
    key: Poetry
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}    

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Poetry</h1>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/aaron-corbett-graffiti-black-hoodie.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/aaron-corbett-graffiti-black-hoodie.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/aaron-corbett-graffiti-black-hoodie.webp" alt="aaron corbett wearing a black hoodie" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">'Azthetics' Poetry</h2>
                <p class="cs-text">
Coming Soon                 </p>
               <!-- <a href="/projects" class="cs-button-solid">Our Projects</a> -->
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}