---
title: 'About | Aaron Corbett'
description: "Learn about Aaron Corbett's commitment to privacy. Read his policy for details on how he collects, uses, and protects your information on this site."
preloadImg: '/assets/images/'
permalink: 'privacy-policy/'
eleventyNavigation:
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Privacy Policy</h1>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->

            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title"></h2>
                <p class="cs-text">
                    Coming soon</p>
                <!-- <a href="/projects" class="cs-button-solid">Our Projects</a> -->
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}