---
title: 'Performances | Aaron Corbett'
description: "Explore Aaron Corbett's captivating performances as an actor in Worcester. Experience the magic of his artistry on stage!"
preloadImg: '/assets/images/coming-soon.webp'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/portfolio.css">
{% endblock %}

{% block body %}    

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Performances</h1>

    </section>


    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/coming-soon.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/coming-soon.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/coming-soon.webp" alt="wolf" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Aladdin</h2>
                <p class="cs-text">
                    Role:             
                    <p class="cs-text">
                    December 2024
                    <p class="cs-text">
                    Coming Soon            
            </div>
            </div>
        </div>
    </section>




    <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/all-our-money-bear.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/all-our-money-bear.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/all-our-money-bear.webp" alt="wolf" loading="lazy" width="400" height="563">
                </picture>
                <p class="cs-text">Photo Credit: Stan's Cafe Theatre Company</p>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">All Our Money</h2>             
                    <p class="cs-text">
                    Role: Bordseley            
                    <p class="cs-text">
                    2023
                    <p class="cs-text">
                    Each year Birmingham City Council spends more than £3 billion. Where does all this money come from and where does it all go? Who decides and how do they decide? Using thousands of gold painted dominoes, All Our Money explains everything in a fast paced, clear and very funny theatre show.<br> <br>

                    Designed to be performed without any fuss in community centres, social clubs, libraries, schools, pubs or even theatres, this show will change the way you think about how local democracy works and is short enough to be followed by a discussion, debate or workshop.
                    Aaron played Bordseley: a football mascot who has now been tasked with allocating the entire budget for the country's second city, Birmingham. With his inexperience brought to the forefront moments into the play, he is clearly out of his depth and (bear)ly holds it together. 
            </div>
            </div>
        </div>
    </section>



    <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cinderella-worcester-theatres.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/cinderella-worcester-theatres.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cinderella-worcester-theatres.webp" alt="aaron corbett in cinderella with step sisters" loading="lazy" width="400" height="563">
                </picture>
                <p class="cs-text">Photo Credit: Worcester Theatres</p>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Cinderella</h2>
                <p class="cs-text">
                    Role: Dandini              
                    <p class="cs-text">
                    2022
                    <p class="cs-text">
                    A family-friendly Pantomime like no other. Cinderella brought magic, wonder and two ugly sisters to the people of Worcester. This performance ran for 63 shows and saw Cinderella fall in love, find her fairy godmother and fight off her ugly step-sisters. A side-splitting comedy full of cheers, boos and catchy songs.<br> <br> 
                    Aaron played the role of Dandini, the prince's aid, who switches places with the real prince, which puts Dandini in all sorts of awkward yet hilarious situations. 
            </div>
            </div>
        </div>
    </section>




    <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/precious-emily.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/precious-emily.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/precious-emily.webp" alt="precious emily" loading="lazy" width="400" height="563">
                </picture>
                <p class="cs-text">Photo Credit: Stan's Cafe Theatre Company</p>                
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Precious Emily</h2>
                <p class="cs-text">
                    Role: Precious Mckenzie         
                    <p class="cs-text">
                    2022
                    <p class="cs-text">
                    A playful and fun theatre show for everyone aged nine and over. Precious Emily tells the stories of two inspirational weightlifters:<br> <br>

                    Precious McKenzie (4’10”) the legendary four-time Commonwealth Games gold medal winner.<br> <br>
                    Emily Campbell (5’11”) the charismatic and trailblazing Olympic Games medal winner, Common Wealth and European Champion.<br> <br>

                    This beautiful, witty show is about all the lessons weightlifting can teach us, even when the heavy things we have to lift are only in our minds.<br> <br>
                    This is a bi-lingual show, performed in English & BSL.<br> <br>
                    Aaron played the role of Precious Mckenzie, as he depicted his life from childhood to champion. He also multirolled as Emily’s dad, Trevor, as well as other characters along the way.
                    </p>
            </div>
        </div>
    </section>


        <section id="portfolio">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/coming-soon.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/coming-soon.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/coming-soon.webp" alt="coming soon" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Antigone</h2>
                <p class="cs-text">
                    Role: Haemon             
                    <p class="cs-text">
                    2022
                    <p class="cs-text">
                    A vibrant and modern adaption of Sophocles' tragedy by bestselling poet & writer Hollie McNish.
                    <br> <br>
                    The Worcester Rep Company’s main stage production of Antigone was a modern adaptation of one of Sophocles’ best-known Greek tragedies. Widely considered one of the greatest Ancient Greek tragedies, Antigone is as thought provoking, heart-breaking and relevant today as it was thousands of years ago. 
                    <br> <br>Aaron played the role of Haeman, a naive lover boy stuck in the middle of a power struggle between his lover, Antigone, and his father, Kreon.
                
            </div>
        </div>
    </section>

        {% include 'components/cta.html' %}

{% endblock %}