---
title: 'Reviews | Learning 4 U'
description: 'Learn about Aaron Corbett, a talented actor, playwright, and poet from Worcester, and explore his journey, inspirations, and artistic achievements.'
preloadImg: '/assets/images/aaron-corbett-smiling-red-hoodie.webp'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
     <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Reviews</h1>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">

                <span class="cs-topper"></span>
                <h2 class="cs-title">OOPS! You haven't activated your Chosen Web Designs Subscription yet</h2>
                
                <p class="cs-text">
                    If you think you are seeing this message in error, please <a href="https://chosenwebdesigns.co.uk/contact" target="_blank" rel="noopener">Contact Us</a>.
                    </p>

        </div>
    </section>


{% endblock %}