---
title: 'About | Aaron Corbett'
description: 'Learn about Aaron Corbett, a talented actor, playwright, and poet from Worcester, and explore his journey, inspirations, and artistic achievements.'
preloadImg: '/assets/images/aaron-corbett-smiling-red-hoodie.webp'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">

                <span class="cs-topper"></span>
                <h2 class="cs-title">OOPS! You haven't activated your Chosen Web Designs Subscription</h2>

        </div>
    </section>


{% endblock %}