/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #portfolio {
    padding: var(--sectionPadding);
    padding-bottom: 0%;
  }
  #portfolio .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #portfolio .cs-left {
    position: relative;
    min-height: 24.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #portfolio .cs-left .cs-text {
    margin-top: 68%;
  }
  #portfolio .cs-picture {
    position: absolute;
    display: block;
    /*border-radius: (24/16em);*/
    /* clips img tag corners */
    overflow: hidden;
  }
  #portfolio .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #portfolio .cs-picture1 {
    top: 0;
    left: 0;
    height: 25em;
    width: 30em;
  }
  #portfolio .cs-right {
    margin: auto;
    max-width: 33.875rem;
    margin-left: 0%;
  }
  #portfolio .cs-right .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #portfolio .cs-right .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #portfolio .cs-right .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  #portfolio .cs-right .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #portfolio .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #portfolio .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #portfolio .cs-button-solid {
    margin-top: 2rem;
  }
  #portfolio .cs-subtitle {
    font-weight: 700;
    font-size: 18px;
    color: var(--headerColor);
  }
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #portfolio {
    padding: var(--sectionPadding);
    padding-bottom: 0%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #portfolio .cs-container {
    flex-flow: row;
    gap: 1.25rem;
    justify-content: normal;
    align-items: normal;
    max-width: 65rem;
    min-height: 25rem;
  }
  #portfolio .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
    height: auto;
  }
  #portfolio .cs-right {
    position: relative;
    margin: 0;
  }
}
@media only screen and (min-width: 64rem) {
  #cta {
    margin-top: 6rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #portfolio {
    background-color: var(--dark);
  }
  body.dark-mode #portfolio .cs-left:before,
  body.dark-mode #portfolio .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #portfolio .cs-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #portfolio .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #portfolio .cs-title,
  body.dark-mode #portfolio .cs-subtitle,
  body.dark-mode #portfolio .cs-text,
  body.dark-mode #portfolio .cs-h3,
  body.dark-mode #portfolio .cs-flex-p,
  body.dark-mode #portfolio .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #portfolio .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #portfolio .cs-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #portfolio .cs-quote-icon {
    opacity: 0.2;
  }
}
